<div class="container">
  <div class="row">

    <h4>Editar perfil</h4>
    <br />
    <br />
    <br />

    <form action="/perfil/editar/{{user._id}}" method="POST">
      <label for="username">username</label>
      <input
        id="username"
        type="text"
        name="username"
        value="{{user.username}}"
      /><br />

      <label for="email">email</label>
      <input id="email" type="text" name="email" value="{{user.email}}" /><br />

      <label for="name">Nombre</label>
      <input
        id="name"
        class="nameinput"
        type="text"
        name="name"
        value="{{user.profile.name}}"
      /><br />

      <label for="lastName">Apellido</label>
      <input
        id="lastName"
        type="text"
        name="lastName"
        value="{{user.profile.lastName}}"
      /><br />

      <br />
      <button type="submit" class="btn btn-outline-secondary">Completar</button>
    </form>

  </div>
</div>