<div class="container">
  <div class="row">
    <div class="col-md-6">

      <p><img src="{{user.profile.image}}" width="60%" /></p>
      <h2>{{user.username}}</h2>
      <div class="col-md-6">
        <hr />
        <p>{{user.profile.name}} {{user.profile.lastName}}</p>
        <p>{{user.email}}</p>
        <p>{{user.favBeaches}}</p>
        <p>Miembro desde: {{user.createdAt}}</p>

        {{#if canEdit}}

        <div class="row">
          <div class="col-md-6">

            <form action="/perfil/delete/{{user._id}}" method="POST">
              <button class="btn btn-outline-danger">Eliminar perfil</button>
            </form>

          </div>
          <div class="col-md-6">
            <form action="/perfil/editar/{{user._id}}" method="GET">
              <button class="btn btn-outline-info">Editar perfil</a>
            </form>
          </div>
        </div>
        {{/if}}

        <a href="/" class="back-button"><b>Atrás</b></a>

      </div>
    </div>
  </div>
</div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <img src="/images/turtle.png" class="footer-turtle" />
        </div>
        <div class="col-sm-4">
          <b>Creado por</b>
          <br />
          Ernesto Espinoza
          <br />
          Estefanía Lamas
        </div>
        <div class="col-sm-4">
          <b>Contacto</b>
          <br />
          tortuga@gmail.com
          <br>
         Ironhack, Madrid
        </div>
      </div>
    </div>
  </footer>