<div class="container">
  <div class="row">
    <div class="col-md-6">

      <p><img src="{{user.profile.image}}" width="60%" /></p>
      <h2>{{user.username}}</h2>
      <div class="col-md-6">
        <hr />
        <p>{{user.profile.name}} {{user.profile.lastName}}</p>
        <p>{{user.email}}</p>
        <p>{{user.favBeaches}}</p>
        <p>Miembro desde: {{user.createdAt}}</p>

        {{#if isUser}}

        <div class="row">
          <div class="col-md-6">

            <form action="/perfil/delete/{{user._id}}" method="POST">
              <button class="btn btn-outline-danger">Eliminar perfil</button>
            </form>

          </div>
          <div class="col-md-6">
            <form action="/perfil/editar/{{user._id}}" method="GET">
              <button class="btn btn-outline-info">Editar perfil</a>
            </form>
          </div>
        </div>
        {{/if}}

                {{#if isAdmin}}
                
                <div class="row">
                  <div class="col-md-6">
                
                    <form action="/perfil/delete/{{user._id}}" method="POST">
                      <button class="btn btn-outline-danger">Eliminar perfil</button>
                    </form>
                
                  </div>
                  <div class="col-md-6">
                    <form action="/perfil/editar/{{user._id}}" method="GET">
                      <button class="btn btn-outline-info">Editar perfil</a>
                    </form>
                  </div>
                </div>
                <a class="btn" href="/usuarios/listado">Ir listado de usuarios</a>
                {{/if}}


        <a class="btn" href="/">Ir atras</a>

      </div>
    </div>
  </div>
</div>