<div class="container">
  <div class="row">
    <h2 id="beachTitle">Playa {{beach.attributes.Nombre}}</h2>
    <br />
    <div class="col beach-info">
      <br />
      <p><strong>Comunidad Autónoma: </strong>{{beach.attributes.Comunidad_}}
      </p>
      <p><strong>Provincia: </strong>{{beach.attributes.Provincia}}</p>
      <p><strong>Dirección: </strong>{{beach.attributes.Dirección}}</p>
      <p><strong>Descripción: </strong>{{beach.attributes.Descripci}}</p>
      <p><strong>Longitud / Anchura: </strong>{{beach.attributes.Longitud}}
        /
        {{beach.attributes.Anchura}}</p>
      <p><strong>Grado de ocupación:
        </strong>{{beach.attributes.Grado_ocup}}</p>
      <p><strong>Aparcamiento: </strong>{{beach.attributes.Aparcamien}}</p>
      <p><strong>Aseos: </strong>{{beach.attributes.Aseos}}</p>

    </div>
    <div class="col beach-info2">
      <br />
      <p><strong>Duchas: </strong>{{beach.attributes.Duchas}}</p>
      <p><strong>Zona infantil: </strong>{{beach.attributes.Zona_infan}}</p>
      <p><strong>Zona deportiva: </strong>{{beach.attributes.Zona_depor}}</p>
      <p><strong>Club Nautico: </strong>{{beach.attributes.Club_naút}}</p>
      <p><strong>Submarinismo: </strong>{{beach.attributes.Submarinis}}</p>
      <p><strong>Zona de surf: </strong>{{beach.attributes.Zona_Surf}}</p>
      <p><strong>Nudismo: </strong>{{beach.attributes.Nudismo}}</p>
      <p><strong>Observaciones: </strong>{{beach.attributes.Observacio}}</p>

      <p id="geometry-y">{{beach.attributes.Coordena_4}}</p>
      <p id="geometry-x">{{beach.attributes.Coordena_5}}</p>
    </div>
  </div>
</div>
<br />

<div class="container">

  <br />
  <figure id="myMap"></figure>

</div>

<div class="container">
  <div class="row reviews-form">
  <form action="/playa/detalles/{{beach.attributes.Identifica}}" method="POST">
    <div class="row">
      <div class="col-md-6">
        <label for="exampleFormControlTextarea1" class="form-label">Deja una
          reseña</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="content" type="text"></textarea>
      </div>

      <div class="col-sm-2">
        <button type="submit" class="btn btn-outline-secondary send-review-button">Enviar</button>
      </div>

  </form>
</div>
</div>


  <div class="row reviews">

  <h5>Opiniones</h5>
  {{#each foundReviews}}
  
  <div class="card card-review" style="width: 41rem;">
  <div class="card-body">
    <h5 class="card-title">{{this.author.profile.name}}</h5>
    
    <p> </p>
    <p class="card-text">{{this.content}}</p>

  </div>
  </div>  
  {{/each}}





  </div>
</div>
<script src="/js/beaches-map.js"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=---------------&callback=initMap"></script>

  <footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="/images/turtle.png" class="footer-turtle" />
      </div>
      <div class="col-sm-4">
        <b>Creado por</b>
        <br />
        Ernesto Espinoza
        <br />
        Estefanía Lamas
      </div>
      <div class="col-sm-4">
        <b>Contacto</b>
        <br />
        tortuga@gmail.com
        <br>
        Ironhack, Madrid
      </div>
    </div>
  </div>
</footer>
